#Traitement de erreurs serveur
ErrorDocument 403 /erreur_serveur.php?erreur=403
ErrorDocument 404 /erreur404.php
ErrorDocument 500 /erreur_serveur.php?erreur=500

<IfDefine Free>
php56 1
</IfDefine>
Options -Indexes

#protection du fichier de connexion
<files connexion.php>
order allow,deny
deny from all
</files>

<Files ".ht*">
Order allow,deny
Deny from all
Satisfy all
</Files>
