body {
	/* déclaration des variables */
	--couleur_fond:#021116;
	--largeur_page:1000px;
	/* fin de déclaraion de variables */
	background-image:url("/Vue/images/fond_resources.png");
	font-family: 'Quicksand', sans-serif;
	color:white;
}

header, main, footer { 
	width:var(--largeur_page);
	margin:auto;
	padding:5px;
	background-color:var(--couleur_fond);
}
/* En-tête ------------------------------------------------------------------------------- */
header {
	font-size:30px;
	font-weight:bold;
}
header p { margin:5px; }
header img {
	height:90px;
	vertical-align:middle;
}
/* zone centrale ------------------------------------------------------------------------------- */
section {
	min-height:550px;
	padding:5px;
	border-bottom:2px solid white;
}

/*	--------------------------------------------------------------------------------------------
	---------------------------------- pour les onglets  ---------------------------------------
	-------------------------------------------------------------------------------------------- */
nav { border-bottom:2px solid white; }

nav ul {
	padding:0;
	margin:5px;
}
nav li {
	display:inline-block;
	margin-right:5px;
}
nav a {
	background-color:var(--couleur_fond);
	padding: 10px;
	display:block;
	border-radius:5px 5px 5px 5px;
}
nav li a:hover, #onglet_actif { background-color:#245070; } /* couleur de l'onglet sélectionné et celui sous la souris */

nav ul img { height:45px; }

/* Joueur -------------------------------------------------------------------------------------------*/
#joueur {
	text-align:right;
}
#joueur a {
	color:white;
	text-decoration:none;
}

#joueur a:hover { text-decoration:underline; }

/* pied de page -------------------------------------------------------------------------------- */
footer {
	font-size:16px;
	text-align:center;
}

footer img {
	height:32px;
	vertical-align:middle;
}
