/* feuille de style commune pour les onglets marchandises, mine, usines et entrepôts */
section tbody tr td:nth-child(1) img {
	height:70px;
	vertical-align:middle;
	margin-right:5px;
}

section thead tr {
	background-color:#245070;
	padding:2px;
	text-align:center;
}

section a {
	color:white;
	text-decoration:none;  /* aucun lien n'est souligné */
}

section a:hover { text-decoration:underline; }

section table {
	margin-left: auto;
	margin-right: auto;
}

#rapport {
	color:black;
	background-color:white;
	margin:10px;
	padding:10px;
	font-size:16px;
}

#rapport form {
	background-color:yellow;
	padding:9px;
	width:80%
}

#rapport h1 {
	border-bottom: 2px solid black;
	text-align:left;
	text-decoration:none;
}
#rapport p {
	padding:0;
	margin:0 0 5px 10px;
}
#rapport a { color:black;}
