/* feuille de style commune pour les onglets marchandises, mine, usines et entrepôts */
section tbody tr td:nth-child(1) img {
	height:70px;
	vertical-align:middle;
	margin-bottom:5px;
}

section thead tr {
	background-color:#245070;
	padding:2px;
}

section tbody tr td:nth-child(1) { width:80px; }
section thead tr th:nth-child(2) { text-align: center; }
section tbody tr td:nth-child(2) { text-align: left; }
section tbody tr td:nth-child(2) p { font-size:16px}

section a {
	color:white;
	text-decoration:none;  /* aucun lien n'est souligné */
}

section a:hover { text-decoration:underline; }

section table {
	margin-left: auto;
	margin-right: auto;
}

#rapport {
	color:black;
	background-color:white;
	margin:5px
}
