/* feuille de style de l'onglet usines */
section thead tr th:nth-child(1), section tbody tr td:nth-child(1) { width:550px; }
section thead tr th:nth-child(2), section tbody tr td:nth-child(2) { width:80px; }
section thead tr th:nth-child(3), section tbody tr td:nth-child(3) { width:200px; }

section tbody tr td:nth-child(2), section tbody tr td:nth-child(3) { text-align: right; }
section tbody tr td:nth-child(1) { vertical-align:top; }

section tbody tr td:nth-child(1) img {
	vertical-align:middle;
}

section tbody tr td:nth-child(1) h1 {
	text-decoration:none;
	font-size:22px;
	text-align:left;
	margin:0;
	margin-bottom:5px;
}

section tbody tr td:nth-child(1) p {
	font-size:16px;
	margin:0;
}

.petiteImage img {
	width:25px;
	height:25px;
}

.gauche {
	float:left;
	margin-right:9px;
}

/* tableau pour afficher les besoins de la production */
#production thead tr th:nth-child(1), #production tbody tr td:nth-child(1) { width:200px; }
#production thead tr th:nth-child(2), #production tbody tr td:nth-child(2) { width:110px; }

/* tableau pour afficher les besoins de l'amelioration */
#amelioration tbody tr td:nth-child(1) { vertical-align:middle; }/* pour annuler celui de section */

#amelioration thead tr th:nth-child(1), #amelioration tbody tr td:nth-child(1) { width:200px; }
#amelioration thead tr th:nth-child(2), #amelioration tbody tr td:nth-child(2) { width:110px; }
#amelioration thead tr th:nth-child(3), #amelioration tbody tr td:nth-child(3) { width:100px; }
#amelioration thead tr th:nth-child(4), #amelioration tbody tr td:nth-child(4) { width:100px; }
#amelioration thead tr th:nth-child(5), #amelioration tbody tr td:nth-child(5) { width:100px; }
#amelioration thead tr th:nth-child(6), #amelioration tbody tr td:nth-child(6) { width:150px; }

#amelioration thead tr {
	text-align:center;
	color:white;
}

#amelioration tbody tr { text-align:right; }

#amelioration tbody tr td:nth-child(2), /* une police à chasse fixe pour les colonnes n'affichant que des chiffres pour faciliter la lecture */
#amelioration tbody tr td:nth-child(3),
#amelioration tbody tr td:nth-child(4),
#amelioration tbody tr td:nth-child(5),
#amelioration tbody tr td:nth-child(6) { font-family:courier; font-size:14px; }

#amelioration tbody tr td:nth-child(1) {  text-align:left; }

/* spécificités du formulaire de MAJ mines */
#conteneur_formulaire fieldset {
	width:370px;
	margin-top:9px;
	margin-bottom:9px;
}

#conteneur_formulaire fieldset input {
	width:40px;
	margin-right:9px;
	margin-top:9px;
}

#conteneur_formulaire #champ1 input {
	width:50px;
	margin-right:20px
}

#conteneur_formulaire #champ2 input { width:120px; }

#conteneur_formulaire #champ1, #conteneur_formulaire #champ2 { display:inline-block; }
