/* feuille de style de l'onglet usines */
section thead tr th:nth-child(1), section tbody tr td:nth-child(1) { width:550px; }
section thead tr th:nth-child(2), section tbody tr td:nth-child(2) { width:80px; }
section thead tr th:nth-child(3), section tbody tr td:nth-child(3) { width:200px; }

section tbody tr td:nth-child(2), section tbody tr td:nth-child(3) { text-align: right; }
section tbody tr td:nth-child(1) { vertical-align:top; }

section tbody tr td:nth-child(1) img {
	vertical-align:middle;
}

section tbody tr td:nth-child(1) h1 {
	text-decoration:none;
	font-size:22px;
	text-align:left;
	margin:0;
	margin-bottom:5px;
}

section tbody tr td:nth-child(1) p {
	font-size:16px;
	margin:0;
}

#rapport img {	height:30px; }

.gauche {
	float:left;
	margin-right:9px;
}

/* tableau pour afficher les besoins de la production */
#production thead tr th:nth-child(1), #production tbody tr td:nth-child(1) { width:200px; }
#production thead tr th:nth-child(2), #production tbody tr td:nth-child(2) { width:110px; }

/* tableau pour afficher les besoins de l'amelioration */
.tableau1 tbody tr td:nth-child(1) { vertical-align:middle; }/* pour annuler celui de section */

.tableau1 thead tr th:nth-child(1), .tableau1 tbody tr td:nth-child(1) { width:200px; }
.tableau1 thead tr th:nth-child(2), .tableau1 tbody tr td:nth-child(2) { width:110px; }
.tableau1 thead tr th:nth-child(3), .tableau1 tbody tr td:nth-child(3) { width:100px; }
.tableau1 thead tr th:nth-child(4), .tableau1 tbody tr td:nth-child(4) { width:100px; }
.tableau1 thead tr th:nth-child(5), .tableau1 tbody tr td:nth-child(5) { width:100px; }
.tableau1 thead tr th:nth-child(6), .tableau1 tbody tr td:nth-child(6) { width:150px; }

.tableau1 thead tr {
	text-align:center;
	color:white;
}

.tableau1 tbody tr { text-align:right; }

.tableau1 tbody tr td:nth-child(2), /* une police à chasse fixe pour les colonnes n'affichant que des chiffres pour faciliter la lecture */
.tableau1 tbody tr td:nth-child(3),
.tableau1 tbody tr td:nth-child(4),
.tableau1 tbody tr td:nth-child(5),
.tableau1 tbody tr td:nth-child(6) { font-family:courier; font-size:14px; }

.tableau1 tbody tr td:nth-child(1) {  text-align:left; }
