/* feuille de style de l'onglet usines */
section thead tr th:nth-child(1), section tbody tr td:nth-child(1) { width:500px; }
section thead tr th:nth-child(2), section tbody tr td:nth-child(2) { width:90px; }
section thead tr th:nth-child(3), section tbody tr td:nth-child(3) { width:300px; }

section tbody tr td:nth-child(2), section tbody tr td:nth-child(3) { text-align: right; }
section tbody tr td:nth-child(1) { vertical-align:top; }

section tbody tr td:nth-child(1) img {
	vertical-align:middle;
}

section tbody tr td:nth-child(1) h1 {
	text-decoration:none;
	font-size:22px;
	text-align:left;
	margin:0;
	margin-bottom:5px;
}

section tbody tr td:nth-child(1) p {
	font-size:16px;
	margin:0;
}

#petite_image img { height:22px;}

#gauche { float:left; }

/* tableau pour affichier les besoins de l'amélioration */
#amélioration tbody tr td:nth-child(1) { vertical-align:middle; }/* pour annuler celui de section */

#amélioration thead tr th:nth-child(1), #amélioration tbody tr td:nth-child(1) { width:200px; }
#amélioration thead tr th:nth-child(2), #amélioration tbody tr td:nth-child(2) { width:110px; }
#amélioration thead tr th:nth-child(3), #amélioration tbody tr td:nth-child(3) { width:100px; }
#amélioration thead tr th:nth-child(4), #amélioration tbody tr td:nth-child(4) { width:100px; }
#amélioration thead tr th:nth-child(5), #amélioration tbody tr td:nth-child(5) { width:100px; }
#amélioration thead tr th:nth-child(6), #amélioration tbody tr td:nth-child(6) { width:150px; }

#amélioration thead tr {
	text-align:center;
	color:white;
}

#amélioration tbody tr { text-align:right; }

#amélioration tbody tr td:nth-child(2), /* une police à chasse fixe pour les colonnes n'affichant que des chiffres pour faciliter la lecture */
#amélioration tbody tr td:nth-child(3),
#amélioration tbody tr td:nth-child(4),
#amélioration tbody tr td:nth-child(5),
#amélioration tbody tr td:nth-child(6) { font-family:courier; font-size:14px; }

#amélioration tbody tr td:nth-child(1) {  text-align:left; }
